.caption {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; color: #FFFFFF; text-decoration: none; padding-top: 30px; text-align: center}
.textNormal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #CCCCCC; line-height: 24px; text-align: center; padding-top: 30px; padding-bottom: 30px}
.SubNavRow {  padding-top: 5px}
.textLeft { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #CCCCCC; line-height: 24px; text-align: left; padding-top: 30px; padding-bottom: 30px }
.textTiny { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #999999; line-height: 12px}
